/*Note!*/
/* //-> means My code recomendations i haven't add it for clean and clarity....*/
/*Mainly is for our websites to look good on oldphone likes Iphone SE,Iphone 3 etc and some olddevices*/
/*But still this website looks good on old devices but commented code will increase efficiency more*/
/*Actually this code is enough almost this code will cover almost 99% of devices but if any device
,if anyone face any minor issue uncomment the code and try it*/

/*Variables*/
:root {
  --color-primary: #2584ff;
  --color-secondary: #00daff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}
/*Typography*/
html {
  font-size: 62.5%; /*which means 10px*/
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, Halvetica, sans-serif;
  line-height: 1.5;
  color: var(--color-body);
  font-size: 2.4rem; /*before 2.4rem*/
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
  color: var(--color-headings);
}
h1 {
  font-size: 7rem;
  font-weight: bold;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*for ArrowLink*/
a {
  text-decoration: none;
}
.arrow-link {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.arrow-link::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.arrow-link:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .arrow-link {
    font-size: 1.5rem;
  }
}
/*Badges*/
/*For BasicStructure*/
/*badge represent BigBadge*/
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
}
/*for Skin*/
.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
/*for SmallBadge*/
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/*Lists*/
/*Basic styles for all lists(navigation,footer etc...)*/
.list {
  list-style-type: none;
  padding: 0;
  /*color: var(--color-headings);*/
}
/*for Inline list and listitem*/
.list--inline .list__item {
  display: inline-block;
  margin-right: 3rem;
}
/*for VerticalList and listitem*/
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/*Icons*/
/*Default styles for all icons*/
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
/*Skin for icon*/
.icon--primary {
  fill: var(--color-primary);
}
.icon--secondary {
  fill: #fff;
}
.icon--white {
  fill: #fff;
}
/*for icon-container*/
.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%; /*or 32px*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background: var(--color-accent);
}
/*Buttons*/
/*Default styles for allbuttons*/
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw; /*horizontal padding is based on viewport width if viewport increases horizontal padding also increases*/
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
/*For block button structure*/
.btn--block {
  width: 100%;
  display: inline-block; /*for anchor element since anchor is inline*/
}
/*Buttons hover effects and skins*/
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background-color: #3a8ffd;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #00c8eb;
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}
.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}
.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background-color: #ec3000;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/*Inputs*/
/*for inputfield*/
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}
/*for input placeholder*/
::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/*for Input-group*/
.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem; /*default 2rem*/
  width: 0;
}
.input-group .btn {
  margin: 4px;
}
/*Cards*/
/*Default card structure*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 30px 10px #f3f3f3;
  overflow: hidden;
}
/*card header,card body structure*/
.card__header,
.card__body {
  padding: 2rem 3rem;
}
/*for primary-card cardheader skin*/
.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}
/*for secondary-card cardheader skin*/
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}
/*for primary-card primary-badge*/
.card--primary .badge--primary {
  background-color: #126de4;
}
/*for secondary-card secondary-badge*/
.card--secondary .badge--secondary {
  background-color: #02cdf1;
}
/*plans*/
.plan {
  transition: transform 0.3s ease-out;
}
.plan__name {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  opacity: 0.8;
  margin-right: 1rem;
  font-weight: 300;
}
.plan__description {
  font-size: 2rem;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
}
.plan--popular {
  transform: scale(1.1); /*10% larger*/
}
/*for plancomponent listitems*/
.plan .list__item {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}
/*Popularbadge*/
/*header(parent) should be relative because popular-badge(child) is absolutely positioned*/
.plan--popular .card__header {
  position: relative;
}
/*adding popular badge component on header*/
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}
/*Mediacomponent*/
/*for Mediacomponent*/
.media {
  display: flex;
  margin-bottom: 4rem;
}
/*for Mediabodycomponent*/
.media__body {
  margin: 0 2rem; /*(or)padding:0 2rem;*/
}
/*for Mediatitlecomponent*/
.media__title {
  margin-top: 0;
}
/*for Mediaimagecomponent*/
.media__image {
  margin-top: 1rem;
}
/*Quotes*/
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__title {
  font-family: "monsterrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem; /*Not necessarily need because we declared in parent*/
  margin-bottom: 0;
}
.quote__organization {
  color: var(--color-headings);
  font-style: normal;
  font-size: 2rem;
  opacity: 0.4; /*which means 0.4=40%;*/
}
.quote .quote__line {
  position: relative;
  bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__title {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}
/*Grids*/
.grid {
  display: grid;
}
/*for tablet and wider screens*/
@media screen and (min-width: 728px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr; /*or repeat(2,1fr);*/
  }
}
/*for Desktop and wider screens*/
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr; /*repeat(3,1fr);*/
  }
}
/*Testimonial*/
/*for card*/
.testimonial {
  padding: 3rem;
}
.nav__brand {
  transform: translateY(5px);
}
/*slightly change*/
.grid {
  margin: 1rem;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image {
  position: relative;
}
/*for icon position on topright corner of the image*/
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}
@media screen and (min-width: 728px) {
  .testimonial .quote,
  .testimonial .quote__title {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
  /*.testimonial{
        padding:3rem;slightly-change
    }*/
}
/*slight change*/
@media screen and (min-width: 360px) and (max-width: 390px) {
  .testimonial__image {
    margin-right: 6.5rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 430px) {
  .testimonial__image {
    margin-right: 4rem;
  }
}

/*Callout*/
/*Callout container structure*/
.callout {
  padding: 4rem;
  border-radius: 5px;
}
/*callout container skin*/
.callout--primary {
  background: var(--color-primary);
}
.callout__heading {
  font-size: 3rem;
  color: #fff;
  margin-top: 0;
}
.callout__content {
  text-align: center;
  color: #fff;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 728px) {
  .callout .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}
/*Collapsible*/
/*for collapsible header*/
.collapsible__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
/*for collapsible heading*/
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
  letter-spacing: 1px;
}
/*transformation of collapsible icon to right by default*/
.collapsible .collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
/*hiding collapsible content*/
.collapsible .collapsible__content
/*,.grid1x5 .collapsible__chevron*/ {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
/*showing collapsible content*/
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/*Blocks*/
/*for block style*/
.block {
  --padding-vertical: 5rem; /* by default 6rem*/
  padding: var(--padding-vertical) 2rem; /*horizontal padding 4rem*/
}
/*for block with backgroundcolor*/
.block--dark {
  background-color: #000;
  /*to override the padding we created in block class*/
  padding: 0.5rem;
}
/*for block-heading*/
.block__heading {
  margin-top: 0;
}
/*for block with background color heading*/
.block--dark .block__heading {
  color: #fff;
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}
/*for skewed-right blocks*/
.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: 10rem; /*calc(var(--padding-vertical)+4rem);*/
}
/*for skewed-left blocks*/
.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-bottom: 10rem; /*calc(var(--padding-vertical)+4rem);*/
}
/*for blockheader*/
.block__header {
  text-align: center;
  /*max-width: 1140px;
  margin: 0 auto;*/
  margin-bottom: 4rem;
}

/*container component*/
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*NavigationBar*/
/*for navigation*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  flex-wrap: wrap;
  padding: 0 1rem;
}
/*for navlist*/
.nav__list {
  width: 100%;
  margin: 0;
}
/*for navitems*/
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  /*cursor:pointer;*/
}
/*for nav-item color*/
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
  cursor: pointer;
}
.nav__item > a:hover {
  color: #fff;
}
/*nav-item changed when we hover on nav__item section*/
/*.nav__item:hover > a{
    color:#fff;
    cursor:pointer;
}*/
/*for nav-toggler*/
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
/*for nav-toogler effect when its expands*/
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 5px #666;
  border-radius: 5px;
}
/*for nav-logo to aligned center*/
.nav__brand {
  transform: translateY(5px);
}
@media screen and (min-width: 728px) {
  /*disabling navigation toggler for 768px and widerscreens*/
  .nav__toggler {
    display: none;
  }
  /*for navigation list occupy width based on content and display in horizontal*/
  .nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
  }
  /*no need for borderbottom*/
  .nav__item {
    border: 0;
  }
  /*for always visible of nav__items*/
  .nav__list.collapsible__content {
    max-height: 100%;
    opacity: 1;
  }
}
/*HeroComponent*/
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
}
/*to override the clip-path in skewed-left blocks*/
.block--skewed-left.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}
/*to override the clip-path in skewed-right blocks*/
.block--skewed-right.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
/*domain-block*/
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
.block-domain__prices {
  font-size: 2rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /*//->We can use coulums 3 for better occupying viewport width of devices
  but In conern of (old-device) with lesser screen width like iphoneSE So we use 2
  and for rows if we use three column use 2rows.
   ofcourse we can right mediaQueries but I Think this is bettersolution*/
  grid-template-rows: repeat(3, 6rem);
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
  color: var(--color-headings);
}
/*//->for old devices like iphone-3 etc..*/
/*@media screen and (max-width: 350px) {
  .input-group .btn {
    padding: 1.2rem 2.5vh;
  }
  ::placeholder {
    font-size: 1.3rem;
  }
  .input-group .input {
    padding: 1.5rem 1.5rem;
  }
}*/
/*//->for old devices like iphone4 etc...*/
/*@media screen and (max-width: 400px) {
  .block-domain__prices {
    grid-template-columns: repeat(2, 1fr);
  }
  ::placeholder {
    font-size: 1.5rem;
  }
  .input-group .btn {
    padding: 1.6rem 3.5vh;
    font-size: 1.5rem;
  }
}*/
@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px /*(or) 10rem*/, 1fr)
    ); /*repeat(6,1fr);*/
  }
}
/*//->for 4kscreens and wider screens*/
/*@media screen and (min-width: 2000px) {
  .input-group .btn {
    padding: 2rem 3vw;
  }
}*/
/*plan-block*/
/*applying gap to grid*/
.block-plans .grid {
  gap: 8rem 4rem;
}
/*applying max-width to card and center aligned*/
.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}
/*feature*/
.feature .feature__image {
  width: 100%;
}
.feature .feature__heading {
  margin: 1rem 0;
}
/*for feature component*/
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}
/*targeting first occurence of feature class*/
.feature:first-of-type {
  margin-top: 6rem;
}
@media screen and (min-width: 768px) {
  /*targeting all evens feature(feature__content) in feature class*/
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
/*showcase-block*/
/*targeting image element*/
.block-showcase__image > img {
  width: 100%;
}
/*overriding generalised class*/
.block-showcase {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
/*for tablet and widerscreens*/
@media screen and (min-width: 768px) {
  /*targeting image element*/
  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
  /*changing size of gridcolumn*/
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  /*targeting first grid item*/
  .block-showcase__image {
    justify-self: end;
  }
}
/*footercomponent*/
/*skin for footer*/
.footer {
  background-color: #232323;
}
/*for structuring each section in footer*/
.footer .collapsible {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}
.footer__brand {
  text-align: center;
  margin-top: 5rem;
}
.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}
/*If we hover near items in footbar we get our cursor as pointer but,
to redirect we have to click on text*/
/*//->.footer li:hover {
  cursor: pointer;
}*/
/*to get rid of default color that browser apply to anchor element*/
.footer a {
  color: #777;
  transition: color 0.3s;
}
/*//->color to be changed on item when we hover near items in footer*/
.footer li:hover > a {
  color: #fff;
}
/*since we have list items in navigation bar and also footer on block--dark,
then we apply general rule to avoid repetion,
 if we apply general rule remove hover effect in navigation bar and also footer component*/
/*.list > li:hover > a {
  color: #fff;
  cursor: pointer;
}*/
.footer a:hover {
  color: #fff;
}
/*to get rid of default margin that browser apply to list(unorder)*/
.footer__section .list {
  margin: 0;
}
/*image logo to occupy 100% width of its container and not more than 230px*/
.footer__brand img {
  /*TODO: Consider refactoring this and applying it to all image*/
  width: 100%;
  max-width: 230px;
}
/*for tablet and wider screens*/
@media screen and (min-width: 768px) {
  /*changing the structure of a grid*/
  .footer .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem /*or 100px*/, 1fr));
  }
  /*hiding the icon*/
  .footer .collapsible__chevron {
    display: none;
  }
  /*for collapsible content should always in expand state*/
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%; /* or 100vh*/
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  /*for changing the order of brand logo*/
  .footer__brand {
    order: -1; /* (or) grid-area:1 (or) grid-area:1/1/1/2;*/
    margin-top: 1rem;
  }
  /*apply border:0 for all section*/
  .footer .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 825px) {
  /*//->we get breakpoint on footer items for specific devices with screen size of,
  somewhere around 768px to 825px*/
  .footer__section .list > li {
    font-size: 2.2rem;
  }
}
