<!--for block with no-background-->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Get Started</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, autem!
    </p>
  </header>
</section>

<!--for block with background-color-->
<section class="block block--dark">
  <header class="block__header">
    <h2 class="block__heading">Get Started</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, autem!
    </p>
  </header>
</section>

<!--for block with background-color and skewed-right-->
<section class="block block--dark block--skewed-right">
  <header class="block__header">
    <h2 class="block__heading">Get Started</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, autem!
    </p>
  </header>
</section>

<!--for block with background-color skewed-left-->
<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">Get Started</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, autem!
    </p>
  </header>
</section>
