<!--Structure of collapsible component not skin-->
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/chevron.svg"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro
      temporibus beatae aperiam aspernatur harum culpa earum facere
      reprehenderit. Similique!
    </p>
  </div>
</div>
<script src="js/main.js"></script>
