<!--footercomponent-->
<!--Structure of collapsible component not skin-->
<div class="footer block--dark">
  <!--Grid for footer-->
  <div class="grid grid5x1 grid1x5 container">
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/chevron.svg"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list collapsible__items">
          <li>
            <a href="https://www.codewithmosh.com">Website Hosting</a>
          </li>
          <li>Free Automated</li>
          <li>Migrations</li>
          <li>Wordpress</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/chevron.svg"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list collapsible__items">
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/chevron.svg"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list collapsible__items">
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>FAQ</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/chevron.svg"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list collapsible__items">
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
        </ul>
      </div>
    </div>
    <!--footer->footer-->
    <!--1st Way-->
    <div class="footer__bottom">
      <!--forlogo-->
      <a class="nav__brand" href="/"
        ><img src="images/logo.svg" alt="Brand logo"
      /></a>
      <span class="owner">Copyright &copy; 2020 Mosh Homedani</span>
    </div>
  </div>
</div>
<script src="js/main.js"></script>
