<!--two-column grid for tablet and widerscreens-->
<div class="grid grid--1x2">
  <div style="height: 100px; background-color: gold"></div>
  <div style="height: 100px; background-color: dodgerblue"></div>
</div>

<!--three column grid for laptop and widerscreens etc...-->
<div class="grid grid--1x3">
  <div style="height: 100px; background-color: gold"></div>
  <div style="height: 100px; background-color: dodgerblue"></div>
  <div style="height: 100px; background-color: lightcoral"></div>
</div>
