<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem maxime non aut
    nihil esse autem aliquid ea? Recusandae numquam expedita repellat omnis
    veniam sapiente Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Rem maxime non aut nihil esse autem aliquid ea.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__title">John-Lumeo</h3>
        <p class="media__content quote__organization">Mosh company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
